@{
    ViewData["Title"] = "Pagina de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a MichiMercado</h1>
    <img src="~/images/Designer.jpeg" alt="Michi Mercado" class="img-fluid mt-3" style="max-width: 40%">
</div>