@{
    ViewData["Title"] = "¿Quiénes somos?";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-4 text-center">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <img src=~/images/benito.jpg class="card-img-top img-fluid" alt="Imagen del jefe">
                <div class="card-body">
                    <h5 class="card-title">Michi Benito (Jefe)</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <img src=~/images/cenizo.jpeg class="card-img-top img-fluid" alt="Imagen del asistente">
                <div class="card-body">
                    <h5 class="card-title">Michi Cenizo (Asistente)</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<p class="text-center">Todos los derechos reservados a los Michis</p>
